volumes:
  pg_data_production:
  static_volume:
  media_volume:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data
  backend:
    image: undaemon/foodgram_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static_volume:/backend_static
      - media_volume:/app/media
      - ./data:/app/data
  frontend:
    image: undaemon/foodgram_frontend
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static_volume:/static
  gateway:
    image: undaemon/foodgram_gateway
    env_file: .env
    ports:
      - 8000:80
    depends_on:
      - backend
      - frontend
    volumes:
      - static_volume:/static
      - media_volume:/app/media
